@using StudentEnrollment.Models
@model StudentEnrollment.Models.Student


<form method="post" asp-controller="Student" asp-action="Create">
    <div>
        <label asp-for="Name">Name</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <div>
        <label asp-for="Course">What Course do you want to take</label>
        @(Html.DropDownListFor(l => l.CourseID, new SelectList((IEnumerable<Course>)ViewData["Courses"], "ID", "Name")))
        @*<span asp-validation-for="CourseID"></span>*@
    </div>  

    <input type="submit" value="Create"/>


</form>
