@model List<StudentEnrollment.Models.Student>

<h2>Students</h2>

@foreach (var student in Model)
{
    <h3>@student.Name</h3>
    <h3>@student.Course</h3>
    <p><a asp-controller="Student" asp-action="Details" asp-route-id="@student.ID">View Details</a></p>
    <hr />
}