<h2>Welcome to 'School'</h2>

<p>What you wanna look at</p>

<p><a asp-controller="Course" asp-action="Create">Create a Course</a></p>

<p><a asp-controller="Student" asp-action="Create">Create a Student</a></p>

<p><a asp-controller="Course" asp-action="ViewAll">View all Courses</a></p>

<p><a asp-controller="Student" asp-action="ViewAll">View all Students</a></p>